<ion-header>
	<ion-toolbar>
		<ion-title class="text-align-center">
			Schedule
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>

	<div class="flex justify-center mt1" *ngIf="!taskForm.get('isFormVisible').value">
		<ion-icon name="md-add-circle" (click)="taskForm.get('isFormVisible').value = true"></ion-icon>
	</div>

	<ion-card *ngIf="taskForm.get('isFormVisible').value">


		<ion-list>

			<form [formGroup]="taskForm">

				<ion-item>
					<ion-label fixed>Name</ion-label>
					<ion-input type="text" formControlName="name"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label fixed required>Description *</ion-label>
					<ion-textarea required formControlName="description"></ion-textarea>
				</ion-item>

			</form>

		</ion-list>

		<div class="flex justify-between">

			<button ion-button (click)="saveTask()" [disabled]="taskForm.invalid" class="ml1 mb1"> Save </button>

			<p class="mr1">* Obrigatório</p>

		</div>


	</ion-card>



	<ng-container *ngIf="!taskForm.get('isFormVisible').value">

		<ion-card *ngFor="let task of tasks; let i = index">
			<div class="flex justify-end">
				<ion-icon name="md-close" (click)="tasks.splice(i, 1)"></ion-icon>
			</div>

			<div class="ml1">
				<label for="">Name: </label>
				<p>{{ task.name }}</p>
			</div>

			<div class="ml1">
				<label for="">Description: </label>
				<p>{{ task.description }}</p>
			</div>
		</ion-card>

	</ng-container>


</ion-content>