<ion-header>
  <ion-toolbar>
    <ion-title class="text-align-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="https://responsive.fxempire.com/fxempire/615x410/2018/09/Gold-USD-Copy.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Welcome to the rich app</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Owning this app means that you are rich and belongs to a higher class in society.</p>
    </ion-card-content>
  </ion-card>
</ion-content>